/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	background-color:#ce4718;
	font-family: 'AbelRegular';
	position:relative;
}
a #threeline{
	text-decoration: none;
}
/*------------------------- Fonts ------------------------*/
@font-face {
	font-family: 'AbelRegular';
	src: url('../fonts/abel-regular-webfont.eot');
	src: url('../fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/abel-regular-webfont.woff') format('woff'),  url('../fonts/abel-regular-webfont.ttf') format('truetype'),  url('../fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Sidebar ------------------------*/
.sidebar {
	height: 590px;
	width: 140px;
	background-color: black;
}
.sidebar ul {
	list-style:none;
	margin:0px 0 0;
	padding:0;
}
.sidebar ul li {
	min-height:0!important;
	margin-top:-4px;
	margin-left: 0px;
}
.sidebar ul li a {
	color: #FFF;
	font-family: AbelRegular;
	font-size: 18px;
	letter-spacing: .04em;
	line-height: 27px;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	text-align: center;
	padding-top: 40px;
}
.sidebar ul li.selected.home a, .sidebar ul li.selected.home:hover a {
	width: 140px;
	background:url(../images/nav-icon.png) no-repeat 55px -57px #7b8846;
	background-size: 23%;
}
.sidebar ul li.selected.roles a, .sidebar ul li.selected.roles:hover a {
	width: 140px;
	background:url(../images/nav-icon.png) no-repeat 55px -57px #7b8846;
	background-size: 23%;
}
.sidebar ul li.roles a {
	width: 140px;
	background:url(../images/nav-icon.png) no-repeat 55px -128px #cba200;
	background-size: 23%;
}
.sidebar ul li.selected.categories a, .sidebar ul li.selected.categories:hover a {
	width: 140px;
	background:url(../images/nav-icon.png) no-repeat 33px -163px #7b8846;
	background-size: 23%;
}
.sidebar ul li.categories a {
	width: 140px;
	background:url(../images/nav-icon.png) no-repeat 55px -271px #c0ac66;
	background-size: 23%;
}
.sidebar ul li.selected.posts a, .sidebar ul li.selected.posts:hover a {
	width: 140px;
	background:url(../images/nav-icon.png) no-repeat 55px -57px #aec066;
	background-size: 23%;
}
.sidebar ul li.posts a {
	width: 140px;
	background:url(../images/nav-icon.png) no-repeat 55px -409px #aec066;
	background-size: 23%;
}
.sidebar ul li.selected.users a, .sidebar ul li.selected.users:hover a {
	width: 140px;
	background:url(../images/users.png) no-repeat 55px -57px #528846;
	background-size: 37%;
}
.sidebar ul li.users a {
	width: 140px;
	background: url(../images/users.png) no-repeat 47px 6px #528846;
	background-size: 37%;
}
.sidebar ul li.selected.files a, .sidebar ul li.selected.files:hover a {
	width: 140px;
	background:url(../images/files.png) no-repeat 55px -57px #dc8413;
	background-size: 23%;
}
.sidebar ul li.files a {
	width: 140px;
	background: url(../images/files.png) no-repeat 47px 6px #dc8413;
	background-size: 37%;
}
.sidebar ul li.selected.priviledges a, .sidebar ul li.selected.priviledges:hover a {
	width: 140px;
	background:url(../images/priviledges.png) no-repeat 55px -57px #7b8846;
	background-size: 23%;
}
.sidebar ul li.priviledges a {
	width: 140px;
	background: url(../images/priviledges.png) no-repeat 47px 6px #98a7a4;
	background-size: 37%;
}



